body{
    min-height: 100vh;
}

#loginDiv{
    height: 500px;
    width: 400px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 50px;
    background-color: rgb(225, 225, 225);

    border-radius: 25px;
    box-shadow: 1px 1px 10px #000000;
}

#loginDiv div{
    text-align: left; 
    padding: 8px;
}